
.imagem_carrossel1{
	object-fit:cover;
	object-position:0 20%;
	height:500px;
}
.imagem_carrossel2{
	object-fit:cover;
	object-position:0 70%;
	height:500px;
}

.imagem_carrossel3{
	object-fit:cover;
	object-position:0 5%;
	height:500px;
}
.mover_carrossel{
	margin-top:100px;
	margin-bottom: 150px;
}
.nav_mover{
	padding-top: 50px;

}

footer {
    background-color:#FFA500;
}
a{
	color:#FFFFFF;
	
}
label{
	font-weight: bold;
}

.mover_formulario{
	margin-top:50px;
	margin-left: 50px;
	margin-bottom:-71px;
}
.mover_formulario2{
	margin-top: 100px;
	margin-left: 50px;
	margin-bottom: 30px;
	
	
}

.formulario_busca{
	margin-top: 100px;
	margin-bottom: 30px;
	margin-left:10px;
}

.label_letras{
	font-weight: bold;
} 
.mover_botao{
	margin-top: 30px;
	margin-bottom: 205px;
}
.mover_botao2{
	margin-top: 30px;
	margin-bottom: 100px;
}


.faixa{
	margin-top:10px;
	padding: 10px;
	background-color:#708090;
	text-align: center;
}
.faixa h1{
	text-shadow: #000 1px 1px 2px;
	color: white;
	font-size: 30px;
	font-weight: bold;
	
}
.etique_buscar{
	font-size: 25px;
	font-weight: bold;
}
.botao_ok{	
	color:	#1C1C1C;
	border-radius: 10px;
	background-color:	#DCDCDC;
	font-size: 20px;
}
#busca{
	border-radius: 5px;
}
.comunicado{
	width: 598px;
	margin-left:15px;
}

	
/*.foto1_cliente{
	width: 300px; 
	height: 300px;
	margin-right: 200px;
}
*/


.mensagemErro{
	box-sizing:border-box;
	text-align: center;
	padding-top:300px;;
	padding-bottom:363px;
	color:#FF0000;
	font-weight: bold;
}
.lista_mover_eventos{
	box-sizing: border-box;
	display:flex;
	flex-direction:row-reverse;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: #FFFFFF;
	padding-top: 50px;
	padding-bottom: 50px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.2);
	
}	

.fotos_generos{
	with: 300px;
	height: 300px;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  margin-bottom: 137px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.mover_cards{
	margin-bottom:150px;
}
.diminuir_card{
	widht: 50px;
}
.foto_fim_login{
	background-image: url("/imagens/luz_cidade.jpg");
	background-repeat: no-repeat;
}
.flex_lado_lista{
	display:flex;

}
.tamanho_letra_lista{
	font-size: 17px;
	margin-right:5px;
	
}
.div_fotos{
	margin-right:50px;
}
.corpo_lista_clientes{
	background-color: #DCDCDC;
	width: 

}


	
	








