<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<meta charset="UTF-8">
<title>Cadastrar Shows</title>
</head>



<section layout:fragment="conteudo">

	<div class="faixa">
		<h1>CADASTRAR EVENTOS</h1>
	</div>


	<form class="mover_formulario2" method="POST" action="/eventos/cadastrareventos" th:object="${eventos}">

	<input type="hidden" th:field="*{code}" />

		<div class="alert alert-success comunicado"
			th:if="${!#strings.isEmpty(mensagem)}">
			<!-- Se o atributo "mensagem" (que está na view - no salvar)  não estiver vazio, aparecer a mensagem. -->
			<span th:text="${mensagem}">Salvo</span>
			<!-- th:text="${mensagem} Traz o texto que está na "add" -->
		</div>
		
		<div class="alert alert-danger comunicado"
			th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"></span>
			</div>
		</div>


		<div class="form-group col-md-4">
			<label for="formGroupExampleInput">Evento</label> 
			<input type="text"
				class="form-control"
				placeholder="Insira o evento" th:field="*{evento}" th:classappend ="${#fields.hasErrors('evento')} ? is-invalid" id="evento">
		</div>

		<div class="form-group col-md-4">
			<label for="formGroupExampleInput2">Data</label>
			<input type="text"
				class="form-control"
				placeholder="Insira o valor do ingresso" th:field="*{data}" th:classappend ="${#fields.hasErrors('data')} ? is-invalid" id="data">
		</div>

		<div class="form-group col-md-4">
			<label for="formGroupExampleInput2">Capacidade</label> 
			<input
				type="text" class="form-control" 
				placeholder="Insira quantas pessoas a casa suporta"
				th:field="*{capacidade}" th:classappend ="${#fields.hasErrors('capacidade')} ? is-invalid" id="capacidade">
		</div>
		<div class="form-group col-md-4">
			<label for="formGroupExampleInput2">Valor do Ingresso</label> 
			<input
				type="text" class="form-control"
				placeholder="Insira o valor do ingresso" th:field="*{valor}"  th:classappend ="${#fields.hasErrors('valor')} ? is-invalid" id="valor">
		</div>
		<div class="form-group col-md-2">
			<label for="inputState">Casa de Show</label> 
			<select id="inputState"
				class="form-control" name="casaShow">
				<option th:each="casa : ${listaDeCasas}" th:value="${casa.code}"
					th:text="${casa.casa}">...</option>
			</select>
		</div>
		<div class="form-group col-md-2">
			<label for="inputState">Estilo musical</label> <select
				id="inputState" class="form-control" name="genero">
				<option th:each="casaGenero : ${todosOsGeneros}"
					th:value="${casaGenero}" th:text="${casaGenero.generoMusical}">...</option>
			</select>
			<button type="submit" class="btn btn-primary mover_botao2">Inserir</button>
		</div>
	</form>




	<table class="table table-striped">
		<thead>
			<tr>
				<th class="text-center" scope="col">#</th>
				<th class="text-center" scope="col">Casa de Show</th>
				<th class="text-center" scope="col">Evento</th>
				<th class="text-center" scope="col">Genero Musical</th>
				<th class="text-center" scope="col">Capacidade</th>
				<th class="text-center" scope="col">Data</th>
				<th class="text-center"scope="col">Valor do Ingresso</th>
				<th class="text-center" scope="col">Edição</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="evento:${eventosTodos}">
				<td class="text-center" th:text="${evento.code}"></td>
				<td class="text-center" th:text="${evento.casaShow.casa}"></td>
				<td class="text-center" th:text="${evento.evento}"></td>
				<td class="text-center" th:text="${evento.genero.generoMusical}"></td>
				<td class="text-center" th:text="${evento.capacidade}"></td>
				<td class="text-center" th:text="${{evento.data}}"></td>
				<td class="text-center" th:text="|R$ ${{evento.valor}}|"></td>
				<td class="text-center" ><a class="btn btn-link btn-xs"
						th:href="@{/eventos/cadastrareventos/{code}(code=${evento.code})}"><img
							src="/icone/pencil-2x.png"></a>
						<a class="btn btn-link btn-xs" th:href="@{/eventos/cadastrareventos/excluir/{code}(code=${evento.code})}"><img
							src="/icone/x-2x.png"></a></td>
				
				
			</tr>

		</tbody>
	</table>
		

</section>