<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<meta charset="UTF-8">
<title>Cadastrar Shows</title>
</head>



<section layout:fragment="conteudo">


	<form class="mover_formulario2" method="POST"
		action="/eventos/cadastrareventos">



		<div class="alert alert-success comunicado"
			th:if="${!#strings.isEmpty(mensagem)}">
			<!-- Se o atributo "mensagem" (que está na view - no salvar)  não estiver vazio, aparecer a mensagem. -->
			<span th:text="${mensagem}">Salvo</span>
			<!-- th:text="${mensagem} Traz o texto que está na "add" -->
		</div>


		<div class="form-group col-md-4">
			<label for="formGroupExampleInput">Evento</label> <input type="text"
				class="form-control" id="formGroupExampleInput"
				placeholder="Insira o evento" name="evento">
		</div>

		<div class="form-group col-md-4">
			<label for="formGroupExampleInput2">Data</label> <input type="text"
				class="form-control" id="formGroupExampleInput2"
				placeholder="Insira o valor do ingresso" name="data">
		</div>

		<div class="form-group col-md-4">
			<label for="formGroupExampleInput2">Capacidade</label> <input
				type="text" class="form-control" id="formGroupExampleInput2"
				placeholder="Insira quantas pessoas a casa suporta"
				name="capacidade">
		</div>
		<div class="form-group col-md-4">
			<label for="formGroupExampleInput2">Valor do Ingresso</label> <input
				type="text" class="form-control" id="formGroupExampleInput2"
				placeholder="Insira o valor do ingresso" name="valor">
		</div>
		<div class="form-group col-md-2">
			<label for="inputState">Casa de Show</label> <select id="inputState"
				class="form-control" name="casaShow">
				<option selected>Escolha</option>
				<option th:each="casa : ${listaDeCasas}" th:value="${casa.code}"
					th:text="${casa.casa}">...</option>
			</select>
		</div>
		<div class="form-group col-md-2">
			<label for="inputState">Estilo musical</label> <select
				id="inputState" class="form-control" name="genero">
				<option selected>Escolha</option>
				<option th:each="casaGenero : ${todosOsGeneros}"
					th:value="${casaGenero}" th:text="${casaGenero.generoMusical}">...</option>
			</select>
			<button type="submit" class="btn btn-primary">Entrar</button>
		</div>
	</form>




	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Casa de Show</th>
				<th scope="col">Evento</th>
				<th scope="col">Genero Musical</th>
				<th scope="col">Capacidade</th>
				<th scope="col">Data</th>
				<th scope="col">Valor do Ingresso</th>
				<th scope="col">Edição</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="evento:${eventosTodos}">
				<td class="text-center" th:text="${evento.code})"></td>
				<td class="text-center" th:text="${evento.casaShow})"></td>
				<td class="text-center" th:text="${evento.evento})"></td>
				<td class="text-center" th:text="${evento.genero})"></td>
				<td class="text-center" th:text="${evento.capacidade})"></td>
				<td class="text-center" th:text="${evento.data})"></td>
				<td class="text-center" th:text="${evento.valor})"></td>
				<td></td>
				
				
			</tr>

		</tbody>
	</table>

</section>