<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<meta charset="UTF-8">
<title>Cadastrar Shows</title>
</head>



<section layout:fragment="conteudo">




	<div class="lista_foto">
		<dl class="lista_mover_eventos" th:each="evento:${eventosTodos}">
			<div>
				<dt>Evento</dt>
				<dd th:text="${evento.evento}"></dd>
				<dt>Genero</dt>
				<dd th:text="${evento.genero}"></dd>
				<dt>Casa de Show</dt>
				<dd th:text="${evento.casaShow.casa}"></dd>
				<dt>Data</dt>
				<dd th:text="${{evento.data}}"></dd>
				<dt>Capacidade</dt>
				<dd th:text="${evento.capacidade}"></dd>
				<dt>Valor</dt>
				<dd th:text="|R$ ${{evento.valor}}|"></dd>
				<button type="submit" class="btn btn-primary">Comprar</button>
			</div>
			<div>
				<img class="fotos_generos" th:src="@{${'/imagens/'+evento.genero+'.jpg'}}">
			</div>
		</dl>

	</div>














</section>
</html>